@font-face {
	font-family: Monocraft;
	src: url('../fonts/monocraft/Monocraft.otf') format('opentype');
	src: url('../fonts/monocraft/Monocraft.ttc') format('collection');
	src: url('../fonts/monocraft/Monocraft.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: Sour_Gummy;
	src: url('../fonts/Sour_Gummy/SourGummy-VariableFont_wdth\,wght.ttf') format('truetype-variations');
	font-style: normal;
}

.back { /* <a> tag*/
	border: solid grey;
	border-radius: 5px;
	position: absolute;
	top: 2%;
	right:2%;
	padding: 2px;
	text-decoration: none;
	color: inherit;
}

body {
	font-family: 'Trebuchet MS', sans-serif;
	padding: 3%;
	color: lightblue;
}

a {
	color: lightgreen
}

h1{
	margin: auto; /*fixed the back button issues*/
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #222f;
		color: mediumpurple;
	}

	a {
		color: magenta;
	}
}

/* Smaller tablets and mobiles */
/*@media (max-width: 768px) {
	body {
	  font-size: 20px;
	}
  }
	*/