.back {
	border: solid grey;
	border-radius: 5px;
	position: absolute;
	top: 2%;
	right:2%;
	padding: 2px;
	text-decoration: none;
	color: inherit;
}

body {
	font-family: sans-serif;
	padding: 3%;
	color: lightblue;
}

a {
	color: lightgreen
}

h1{
	margin: auto; /*fixed the back button issues*/
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #222f;
		color: mediumpurple;
	}

	a {
		color: magenta;
	}
}

/* Smaller tablets and mobiles */
/*@media (max-width: 768px) {
	body {
	  font-size: 20px;
	}
  }
	*/