@import url(../style.css);

@font-face {
	font-family: Sour_Gummy;
	src: url('../fonts/Sour_Gummy/SourGummy-VariableFont_wdth\,wght.ttf') format('truetype');
	font-style: normal;
}

body {
	font-family: Sour_Gummy;
}


.graph {
	height:400px;
	width:400px;
	border:2px solid red;
	position: relative;
}

.x_axis {
	border-top: 3px solid red;
	width: 100%;
	top: 50%;
	margin-top: -1px;
	position: absolute;
}

.y_axis {
	border-left: 3px solid red;
	height: 100%;
	left: 50%;
	margin-left: -1px;
	position: absolute;
}

.quadrant_one {
	height: 50%;
	width: 50%;
	left: 50%;
	top:0%;
	position: absolute;
}

.point {
	height: 3px;
	width: 3px;
	/*border:2px solid blueviolet;*/
	background-color: blueviolet;
	position: absolute;
	border-radius: 50%; /*rounds the circle*/
}

.point p {
	margin-top: 2px;
	left: -6px;
	width: 100px;
	position: absolute;
}